body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: tomato;
}
div
{
    margin: 15px;
}
.name, .email, .password
{
    margin: 0;
    padding: 5px;
    border: 3px solid orange;
    border-radius: 5px;
}

.common
{
    border-radius: 3px;
    background-image: linear-gradient(rgb(35, 207, 87),pink);
}

.button
{
    border-radius: 3px;
    font-weight: bold;
    background-image: linear-gradient(orange,yellow);
}